In [6]:
# Create a pandas Series that contains the following data : 4,8,15,16,23,42 then print the series
import pandas as pd

In [7]:
data = [4,8,15,16,23,42]

In [8]:
series  = pd.Series(data)

In [9]:
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [10]:
# Create a variable of list type contains 10 element in it , and apply pandas.Series function on the variable print it

In [11]:
import pandas as pd

In [12]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [13]:
series=pd.Series(my_list)

In [14]:
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [15]:
# Create a pandas DataFrame that contains the following data:
# name     Age  Gender
# Alice    25   Female
# Bob      30   Male 
# Calire   27   Female
#then print the DataFrame

In [16]:
import pandas as pd

In [18]:
data = {
    'Name':['Alice','Bob','Calire'],
    'Age':[25,30,27],
    'Gender':['Female','Male','Female']
}

In [19]:
dataframe = pd.DataFrame(data)

In [20]:
print(dataframe)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Calire   27  Female

In [21]:
# What is DataFram in pandas and how is it different from pandas.series? Explain with an example.

In [22]:
# Ans :- DataFram like collection of row and columns where we can store the in row and column formate like Sql table
#       and the points come to series this is one dimensions array

In [23]:
# What are the common functions you can use to manipulate data in a pandas Dataframe?can you give an example of when you might use one of these function ?

In [27]:
# Ans :- df['column_name'] or df.column_name:
#     Select a specific column.
# df.loc[row_label] or df.loc[row_label, column_label]: Select data by label.
# df.iloc[row_index] or df.iloc[row_index, column_index]

In [28]:
# which of the following is mutable in nature Series ,DataFrame,Panel

In [29]:
#Ans :- Series and DataFrame these both are mutable

In [30]:
# Create a DataFrame using multiple Series. Explain with an example .

In [31]:
import pandas as pd

In [33]:
name = pd.Series(['Dilkhush','Ravi','Rohan'])
age = pd.Series([19,20,30])
gender = pd.Series(['male','male','male'])

In [34]:
data = {
    'Name':name,
    'Age':age,
    'Gender':gender
}

In [35]:
df = pd.DataFrame(data)

In [36]:
print(df)

       Name  Age Gender
0  Dilkhush   19   male
1      Ravi   20   male
2     Rohan   30   male